<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
</head>
<body>
    <center>
        <h1>display_country</h1>

    <table border="2px">
        <tr>
            <th>Country_Code</th>
            <th>Country_Name</th>
        </tr>

    {% for co in Code %}
        <tr>
            <td>{{co.Country_Code}}</td>
            <td>{{co.Country_Name}}</td>

        </tr>

    {% endfor %}

    </table>
    </center>
    


</body>
</html>